/* Navbar */


/* .navbar {
    border-bottom: 3px solid black;
} */

.navbar-brand img {
    width: 100px;
}

.nav-link {
    color: black;
    margin-right: 45px;
}

.nav-link:hover {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
}

.keranjang {
    color: black;
}

.animated-icon2 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

.animated-icon2 span {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.animated-icon2 span {
    background: #000000;
}

.animated-icon2 span:nth-child(1) {
    top: 0px;
}

.animated-icon2 span:nth-child(2),
.animated-icon2 span:nth-child(3) {
    top: 10px;
}

.animated-icon2 span:nth-child(4) {
    top: 20px;
}

.animated-icon2.open span:nth-child(1) {
    top: 11px;
    width: 0%;
    left: 50%;
}

.animated-icon2.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.animated-icon2.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.animated-icon2.open span:nth-child(4) {
    top: 11px;
    width: 0%;
    left: 50%;
}


/* Carousel */


/* .carousel-inner img {
    width: 100%;
    height: 700px;
} */


/* product */

.product {
    width: 100%;
}

.product {
    margin-top: 50px;
}

.product h2 {
    color: black;
    font-weight: 350;
}

.card {
    margin: 50px 0px;
    width: 15rem;
    border: none;
}

.card a {
    text-decoration: none;
}

.card a:hover {
    color: royalblue;
}

.card-title {
    color: black;
    font-weight: bold;
}

.card-text {
    color: grey;
    font-size: 12px;
}

.tambahkeranjang {
    margin-left: 90%;
    color: black;
}

.product button {
    color: black;
    position: relative;
    text-decoration: none;
    /* background-color: black; */
    border: none;
    font-size: 15px;
}

.product button:hover {
    /* background-color: brown; */
    text-decoration: none;
    border: none;
    color: black;
    font-size: 20px;
}


/* Blog */

.blog {
    width: 100%;
}

.blog h2 {
    color: black;
    font-weight: 350;
}

.blogcard {
    margin-top: -10px;
}


/* Brand */

.slick-slide {
    margin: 0px 20px;
}

.slick-slide img {
    width: 100%;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}


/* Border Judul dll  */

.skills {
    max-width: 50%;
    margin: 40px auto;
    text-align: center;
}

.hr-text {
    font-size: 25px;
    position: relative;
    border: 0;
    height: 1.5em;
}

.hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #0f0303, transparent);
    background: linear-gradient();
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 2px;
}

.hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #000000;
    background-color: white;
}


/* Footer */

footer {
    margin-top: 50px;
    color: rgb(0, 0, 0);
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

@media (min-width: 992px) {
    .navbar-nav {
        margin-left: 190px;
    }
    .slick-slide img {
        width: 150px;
        height: 100px;
    }
    .card {
        margin: 50px 0px;
        width: 15rem;
        border: none;
    }
}